# Google Sheets Configuration
GOOGLE_SHEETS_SPREADSHEET_ID=1_2t-66cn_PnXUIYvDznXrDWkaeHpq8BZ-Z2g7SEER0E
GOOGLE_SHEETS_SHEET_NAME=Sheet1

# Google Service Account credentials (JSON key)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
